{% extends 'core/base.html'%}
{% block title %}Employee Management System{% endblock title %}
  {% block content%}
    <div class="container">
        <h1>Office Employee Management System</h1>
   
    <hr>
    <p><a class="btn btn-primary" href="/all_emp" role="button">View All Employee</a><p>
   <p> <a class="btn btn-primary" href="/add_emp" role="button">Add an Employee</a></p>
  <p>  <a class="btn btn-primary" href="/remove_emp" role="button">Remove an Employee</a></p>
   <p> <a class="btn btn-primary" href="/filter_emp" role="button">Filter Employee Details</a></p>
    </div>
  {%endblock content %}